@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  overflow-x: hidden;

  display: flex;  
  justify-content: center;
  place-items: center;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-family: 'Poppins', sans-serif !important;
}
html{
  overflow-x: hidden;
}

h1 {
  margin-bottom: 15px!important;
  line-height: 1.1;
}
.form{
  margin: 0 auto;
  /* max-width: 500px; */
}
.form #senha::placeholder, .form #email::placeholder, .form #senhaInput::placeholder, .form #emailInput::placeholder{
  color: #c8c8c8;
}
section.tarefas{
  height: auto;
  padding: 6rem 0 2rem 0;
}